*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
height:20px;
width:100%;
background-color: black;
color: azure;
}
.tot{
    height: 450px;
    width:500px;
    text-align: center; 
    border-radius: 2px;
background-color:orange ;
color: black;
padding:15px ;

}
.box1{
height: 80px;
width:420px;
background-color: aquamarine;   
color: black; 
border:3px solid green;
border-radius: 8px;
padding-bottom: 20px;
}
.box2{
height: 100px;
width:420px;
background-color:rgb(255, 213, 0);
color: black; 
border:3px solid rgb(233, 218, 9);
border-radius: 8px;   
padding-bottom: 20px;
}