.con{
    background-color: blue;
}
   .box1{
    height: 100px;
    width:100px;background-color: brown;
    padding: 20px;
    float:right;
}
.box2{
    height: 100px;
    width:100px;
   background-color: brown;
   padding: 20px;
    float:right;
}
.box3{
    height: 100px;
    width:100px;background-color: brown;
    padding: 20px;
    float:right;
}
.box4{
    height: 100px;
    width:100px;background-color: brown;
    padding: 20px;
    float:right;
}
.box5{
    height: 100px;
    width:100px;background-color: brown;
    padding: 20px;
    float:right;
}
.box6{
    height: 100px;
    width:100px;background-color: brown;
    padding: 20px;
    float:right;
}
.box7{
    height: 100px;
    width:100px;background-color: brown;
    padding: 20px;
    float:right;

}
.box8{
    height: 100px;
    width:100px;background-color: brown;
    padding: 20px;
    float:right;

}