/* =====================
   RESET
===================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f2f2f2;
    color:#333;
}

/* =====================
   HEADER
===================== */

header{
    height:70px;
    background:#ffffff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
    position:fixed;
    width:100%;
    top:0;
    z-index:100;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#b8860b;
}

nav{
    display:flex;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:#444;
    font-size:18px;
    transition:.4s;
}

nav a:hover{
    color:#b8860b;
    transform:translateY(-3px);
}

.search input{
    padding:10px 15px;
    border:1px solid #ccc;
    border-radius:30px;
}

/* =====================
   LAYOUT
===================== */

.container{
    display:flex;
    margin-top:70px;
}

/* =====================
   ASIDE
===================== */

aside{
    width:90px;
    height:calc(100vh - 70px);
    background:#b8860b;
    position:fixed;
    left:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:40px;
    gap:30px;
}

.icon{
    width:55px;
    height:55px;
    background:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
    color:#b8860b;

    transition:.5s;
}

.icon:hover{
    transform:scale(1.2) rotate(8deg);
    background:#333;
    color:white;
}

/* =====================
   MAIN
===================== */

main{
    margin-left:90px;
    width:100%;
    padding:50px;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

.left{
    width:50%;
}

.left h1{
    font-size:55px;
    margin-bottom:20px;
}

.left p{
    font-size:18px;
    color:#666;
    margin-bottom:30px;
    line-height:30px;
}

button{
    padding:14px 35px;
    border:none;
    background:#b8860b;
    color:white;
    border-radius:30px;
    font-size:18}