*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    height: 50spx;
    width:100%;
    background-color: pink;
    color:aliceblue;
    display: flex;
    font-size: 32px;

}
a{
    text-decoration: none;
    padding: 100px;
}
.box1{
    height: 500px;
    width:80%;
    background-color: blue;
    color: aliceblue;
}