*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    background-color: bisque;
    padding: 25px;
    column-gap: 20px;
    row-gap: 30px;
     display: grid;
   /* grid-template-rows: 1fr 1fr 1fr;*/
    grid-template-rows: repeat(3,minmax(100px,1fr));
    grid-template-columns: repeat(3,minmax(220px,1fr));
}
.box{
    background-color: blue;
    color: beige;
    padding: 23px;

}