*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: bisque;
    font-family:Arial, sans-serif;
}

nav{
    background-color:wheat;
    padding:20px;
}

ul{
    list-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
}

a{
    text-decoration:none;
    color:black;
    font-size:18px;
    font-weight:bold;
}

.btn{
    background-color:brown;
    color:white;
    padding:10px 20px;
    border-radius:30px;
}

.btn:hover{
    background-color:#0c5a1d;
}
img{
    height: 120px;
    width:160px;
    gap:20px;
    border-radius: 3px;
}
.total{
    background-color: bisque;
    display: flex;
    flex-wrap: nowrap;
      gap:20px;  
      padding-left: 20px;
      padding-right: 20px;
}
h5{
    text-align: center;
}
.nav ul li a:hover{
    border-bottom: 2px solid brown;
}
