*{
    margin: 0;
    padding: 0;

}



.con{
    box-sizing: border-box;
    background-color: black;
    display:grid;
    width: 100%;
    height:830px;
    grid-template-columns: repeat(3,minmax(300px,1fr));
    grid-template-rows:repeat(4,minmax(147px,1fr)) ;
    scrollbar-width: none;
    padding: 150px;
}
.box1{
    color: azure;
    background-color: rgb(145, 6, 215);
   border: 20px solid black; 
display: grid;
place-items: center;
grid-column: 1/4;
}
.box2{
    color: azure;
    background-color: rgb(7, 90, 115);
       border: 20px solid black;
        display: grid;
place-items: center;
grid-row: 2/4;
}
.box3{
    color: azure;
    background-color: rgb(14, 94, 148);
    border: 20px solid black;
    display: grid;
    place-items: center;
    grid-column: 2/4;
}
.box4{
    color: azure;
    background-color: rgb(11, 102, 163);
           border: 20px solid black; 
    display: grid;
    place-items: center;
}
.box5{
    color: azure;
    background-color: rgb(37, 89, 129);
       border: 20px solid black; 
    display: grid;
place-items: center;   
}
.box6{
    color: azure;
    background-color: rgb(145, 6, 215);
      border: 20px solid black;  
    display: grid;
place-items: center;  
grid-column: 1/4;
}