

:root{
    --b-color-co:black;
    --color-co:red;
    --font-fo:30px;
    --height-ho:150px;
    --width-wo:190px;
}


  *{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    color: var(--color-co);
    font-size:var( --font-fo) ;

}
/*  button{
    color: var(--color-co);
    font-size:var( --font-fo) ;
    height: 15px;
    width: 40px;
}

*/
.box{
    background-color: var(--b-color-co);
}

img{
    height:var(--height-ho) ;
    /* width: var(--width-wo); */
}